ColumnLimit: 130
IndentWidth: 4
UseTab: Never
AccessModifierOffset: -4
NamespaceIndentation: None
DerivePointerAlignment: false
PointerAlignment: Left
SpaceAfterCStyleCast: true
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: true
